.gradle
build
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
bin/
logs
# gradle/

### Directorio de muestra ###
microservicio
restaurante-mascotas/dominio/src/main/java/com/ceiba/descuento
restaurante-mascotas/dominio/src/main/java/com/ceiba/producto
restaurante-mascotas/aplicacion/src/main/java/com/ceiba/producto
restaurante-mascotas/infraestructura/src/main/java/com/ceiba/producto
restaurante-mascotas/dominio/src/test/java/com/ceiba/descuento
restaurante-mascotas/dominio/src/test/java/com/ceiba/producto
restaurante-mascotas/infraestructura/src/test/java/com/ceiba/producto
restaurante-mascotas/infraestructura/src/main/resources/sql/producto
